/* Далее в макете идет сдвиг, не совсем понимаю, связан ли он с разрешением экрана, но я выбрал выравнивание контента по центру. В то время как в макете при сверке с perfect pixel весь контент смещен левее от центра */


.section-3 {
   max-width: 80rem;
   min-height: 45.625rem;
   margin: 0 auto;
   font-family: 'Roboto Condensed', sans-serif;
}

.section-3__h {
   margin-top: 4.8125rem;
   margin-left: 3.5rem;
   font-weight: 700;
   font-size: 2rem;
   line-height: 2.625rem;
   margin-bottom: 4.5625rem;
}

.section-3__flexbox {
   display: flex;
   flex-wrap: wrap;
   justify-content:space-evenly;
   margin-left: 70px;
}

.section-3__sticker-left {
   width: 8.1875rem;
   height: 1.25rem;
   text-align: center;
   border-color: #651FFF;
   padding: 0.625rem 1.875rem 0.625rem 1.875rem;
   background-color: #651FFF;
   color: white;
   font-size: 1.125rem;
   font-weight: bold;
   margin-left: 1.75rem;
   margin-bottom: 2.5rem;
}

.section-3__sticker-left::after {
   display: block;
   content: '';
   width: 4px;
   height: 40px;
   border-radius: 0 4px 4px 0;
   background: radial-gradient(at 100% 50%, transparent 2px, #651FFF 2px, #651FFF);
   background-size: 4px 6px;
   position: absolute;
   top: 0;
   right: 295px;
 }

.section-3__sticker-left::before {
   display: block;
   content: '';
   width: 4px;
   height: 40px;
   border-radius: 4px 0 0 4px;
   background: radial-gradient(at 0% 50%, transparent 2px, #651FFF 2px, #651FFF);
   background-size: 4px 6px;
   position: absolute;
   top: 0;
   left: 25px;
 }

.section-3__li {
   font-weight: 400;
   font-size: 0.875rem;
   line-height: 1.25rem;
   padding: 0.0625rem 6.25rem 1.875rem 1.25rem;
   list-style-type: none;
}

.section-3__li:before {
      background: #000000;
      clip-path: circle(50%);
      height: 0.4375rem;
      width: 0.4375rem;
      content: "";
      display: flex;
      position: absolute;
      margin-left: -2.0625rem;
      margin-top: 0.4375rem;
}

.section-3__img {
   margin-top: 1.875rem;
   right: 0%;
   width: 32.3125rem;
}

.section-3__leftbox {
   max-width: 32.3125rem;
   border-right: 0.0063rem solid black;
   padding-bottom: 5.75rem;
   opacity: 0;
   animation-duration: 0.75s;
   animation-delay: 0.5s;
   animation-name: surprise;
   animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
   animation-fill-mode: forwards;
}

@keyframes surprise {
   0% {
     opacity: 0;
     filter: brightness(3) saturate(3);
     transform: scale(0.8, 0.8);
   }
   100% {
     opacity: 1;
     filter: brightness(1) saturate(1);
     transform: scale(1, 1);
   }
}

.section-3__rightbox {
   max-width: 32.3125rem;
   opacity: 0;

   animation-duration: 0.75s;
   animation-delay: 2s;
   animation-name: surprise;
   animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
   animation-fill-mode: forwards;
}

.section-3__button {
   background: #000000;
   display: inline-block;
   color: #fff;
   position: relative;
   padding: 1.125rem 5.5rem 1.125rem 5.5rem;
   border-top-left-radius: 0.25rem;
   border-bottom-left-radius: 0.25rem;
   margin: 3.125rem 0rem 0 -0.625rem;
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 15px;
}

.section-3__button:after {
   display: inline-block;
   border-top: 1.9375rem solid transparent;
   border-left: 0.875rem solid #000000;
   border-bottom: 2rem solid transparent;
   height: 0;
   width: 0;
   position: absolute;
   right: -13.5px;
   top: 0;
   content: "";

}

@keyframes speed {
   0%, 20%, 60%, 100% {
      transform: translateX(0);
      transform: translateX(0);
   }

   40% {
      transform: translateX(1.25rem);
      transform: translateX(1.25rem);
   }

   80% {
      transform: translateX(0.625rem);
      transform: translateX(0.625rem);
   }
}

.section-3__button:hover {
   animation: speed 0.5s;
}

.adress__zvonok:hover {
   animation: speed 0.5s;
}

.section-3__sticker-right {
   width: 20.0625rem;
   height: 1.25rem;
   text-align: center;
   border-color: #651FFF;
   padding: 0.625rem 5px 0.625rem 5px;
   background-color: #651FFF;
   color: white;
   font-size: 1.125rem;
   font-weight: bold;
   margin-left: -0.1875rem;
}

.section-3__sticker-right::after {
   display: block;
   content: '';
   width: 4px;
   height: 40px;
   border-radius: 0 4px 4px 0;
   background: radial-gradient(at 100% 50%, transparent 2px, #651FFF 2px, #651FFF);
   background-size: 4px 6px;
   position: absolute;
   top: 0;
   margin-left: 327px;
 }

.section-3__sticker-right::before {
   display: block;
   content: '';
   width: 4px;
   height: 40px;
   border-radius: 4px 0 0 4px;
   background: radial-gradient(at 0% 50%, transparent 2px, #651FFF 2px, #651FFF);
   background-size: 4px 6px;
   position: absolute;
   top: 0;
   left: -7px;
 }

.section-3__ul-right{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 2.8125rem;
}

.section-3__right-li{
   list-style-type: none;
   margin-bottom: 3.6875rem;
   margin-right: -0.75rem;
   width: 12.375rem;
   height: 2.375rem;
}

.section-3__right-dot {
   background: #651FFF;
   border-radius: 50%;
   height: 0.625rem;
   width: 0.625rem;
   position: absolute;
   margin-left: -1.9375rem;
   margin-top: 0.5625rem;
   content: "";
}

.section-3__right-li::before{
   background: transparent;
   border: 0.4em solid #FDBF0F;
   border-radius: 50%;
   height: 1.25rem;
   width: 1.25rem;
   position: absolute;
   list-style-type: none;
   content: "";
   display: block;
   margin-left: -2.625rem;
   margin-top: -0.1875rem;
}

.section-3__icon {
   position: absolute;
   margin-top: 1.4375rem;
   width: 6.375rem;
}

.section-3__rekl{
   max-width: 18.75rem;
   font-weight: 700;
   font-size: 1.125rem;
   line-height: 1.5rem;
   padding: 2.1875rem 1.25rem 1.25rem 7.5rem;
}

@media screen and (max-width: 768px) {

   .section-3__leftbox {
      border-right: 0;
      padding-bottom: 5px;
   }

   .section-3__ul-right {
      margin-top: 15px;
      margin-bottom: 0px;
   }

   .section-3__li {
      padding: 1px 20px 5px 5px;
   }

   .section-3__right-li {
      margin-bottom: 15px;
   }

   .section-3__button {
      margin-top: 10px;
   }

   .section-3__rightbox {
      padding-bottom: 1.25rem;
   }

   .section-3__img {
      width: 98%;
      margin-top: 0;
   }

   .section-3__h {
      margin: 20px;
   }

}


@media screen and (max-width: 480px) {

   .section-3 {
      font-size: 0.75rem;
   }

   .section-3__h {
      font-size: 16px;
   }

   .section-3__right-li {
      width: 150px;
   }

   .section-3__flexbox {
      margin-left: 15px;
   }

}