.container-5 {
   background: #F5F5F5;
   width: 100%;
   height: 47.8125rem;
   font-family: 'Roboto Condensed', sans-serif;
   overflow: hidden;
   position: relative;
   margin-top: 6.25rem;
}

.container-5__img-pic {
   width: 32.5rem;
   justify-content: center;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   margin-bottom: -0.625rem;
}

.container-5__h {
   margin-left: -5.9375rem;
   padding-top: 3.125rem;
}

.container-5__content {
   max-width: 61.25rem;
   min-height: 46.5625rem;
   margin: 0 auto;
}

.container-5__block {
   padding-top: 3.5rem;
   margin-top: 6.25rem;
}



.container-5__circle {
    margin-left: 0.8125rem;
    margin-top: 1.125rem;
    font-size: 1.5rem;
}

.container-5__number {
   font-size: 1.5rem;
   color: white;
   font-weight: bold;
   z-index: 100;
   position: absolute;
   margin-top: 1.9375rem;
}

.container-5__circle::after {
   background: transparent;
   border: 0.57rem solid #FDBF0F;
   border-radius: 50%;
   height: 2.62rem;
   width: 2.62rem;
   content: "";
   display: block;
   margin-left: -2.375rem;
   margin-top: -0.25rem;
}


.container-5__circle::before {
   background: #651FFF;
   border-radius: 50%;
   height: 2.3125rem;
   width: 2.3125rem;
   position: absolute;
   margin-left: 0.0625rem;
   margin-top: 0.0625rem;
   content: "";
   margin-left: -1.6875rem;
   margin-top: 0.5rem;
}

.container-5__text {
   display: flex;
}

.container-5__flexbox {

   height: 40.9375rem;
}

.container-5__box1 {
    margin-top: 26.25rem;
    margin-left: 16.25rem;
    position: absolute;
    width: 20rem;
}

.container-5__box2 {
   position: absolute;
   margin-top: 9rem;
    margin-left: 16.875rem;
    width: 20rem;
}

.container-5__box3 {
   position: absolute;
   margin-top: 2.75rem;
   margin-left: 35.625rem;
   width: 20rem;
}

.container-5__box4 {
   position: absolute;
   margin-top: 16.875rem;
   margin-left: 46.375rem;
   width: 20rem;
}


.container-5__p1 {
   width: 18.75rem;
   margin-left: -23.125rem;
   text-align: right;
}

.container-5__p2 {
   width: 18.75rem;
   margin-left: -23.125rem;
   text-align: right;
}

.container-5__p3 {
   width: 18.75rem;
   margin-left: 1.5625rem;
}

.container-5__p4 {
   width: 18.75rem;
   margin-left: 1.5625rem;
}

@media screen and (max-width: 73.75rem) {
   
   .container-5__box1, .container-5__box2, .container-5__box3, .container-5__box4 {
      margin:0.625rem;
      position: relative;
      width: 22.2813rem;
      height: 5.5rem;
      background-color: white;
      box-shadow: 0rem 0.375rem 0.75rem rgb(0 0 0 / 14%), 0rem 1rem 1.5rem rgb(0 0 0 / 8%);
   }

   .container-5__p1, .container-5__p2, .container-5__p3, .container-5__p4 {
   margin-left: 1.25rem;
   margin-right: 0rem;
   text-align: left;
   width: 100%;
   } 

   .container-5__h {
      margin-left: 0%;
   }

   .container-5__img-pic {
      bottom: 0%;
   }

   .container-5__flexbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
   }

   .container-5__text {
      margin: 0 0.625rem 0 1.875rem;
   }

}

@media screen and (max-width: 48rem) {
   .container-5__box1, .container-5__box2, .container-5__box3, .container-5__box4 {
   margin-bottom: 1.875rem;
   }
   .container-5__flexbox {
      flex-direction: column;
      margin:0.625rem auto;
      justify-content: flex-start;
      align-content: center;
   }
   
   .container-5__h {
      padding-left: 0.625rem;
   }

   .container-5 {
      height: 42.5rem;
   }

   .container-5__content {
      height: 31.25rem;
   }

}


@media screen and (max-width: 30rem) {

   .container-5__box1, .container-5__box2, .container-5__box3, .container-5__box4 {
      width: 18.75rem;
      }

   .container-5 {
      font-size: 0.75rem;
   }

   .container-5__h {
      font-size: 1rem;
   }

   .container-5{
      margin-top: 0rem;
   }

}