.container-2 {
   max-width: 100%;
   background-color: #7224EA;
   margin: 0 auto;
   position: relative;
   padding-left: 0.625rem;
}

.container-2__content {
   max-width: 80rem;
   min-height: 45rem;
   margin: 0 auto;
   z-index: 12;
}

.container-2__text {
   color: white;
   font-weight: 700;
   font-size: 2rem;
   padding-top: 4.375rem;
   margin-bottom: 3.3125rem;
   line-height: 2.625rem;
   max-width: 28.125rem;
   margin-top: 0;
   position: relative;
   z-index: 15;
}

.container-2__flexbox {
   display: flex;
   margin-left: -0.5rem;
   max-width: 50.5rem;
}

.container-2__box {
   display: flex;
   justify-content: space-evenly;
   max-width: 23.375rem;
   min-height: 7.5rem;
   background-color: white;
   margin: 1.5rem 0.6875rem 2.7rem 0.6875rem;
   box-shadow: 0rem 0.375rem 0.75rem rgba(0, 0, 0, 0.14), 0rem 1rem 1.5rem rgba(0, 0, 0, 0.08);
}

.container-2__row {
   z-index: 12;
}

.container-2__img {
   position: relative;
   width: 2rem;
   height: 2.3125rem;
   margin: auto 2vw;
}

.container-2__p {
   margin: auto;
   margin-right: 1.5vw;
}

.container-2__circle {
   position: absolute;
   width: 48.8125rem;
   right: 1%;
   margin-top: -41.5rem;
   z-index: 1;
}

.container-2__hand {
   position: absolute;
   right: 0%;
   width: 36.75rem;
   margin-right: 11.875rem;
   margin-top: -37.625rem;
   z-index: 2;
}

.container-2__button {
   background: #FF5900;
   display: inline-block;
   color: #fff;
   position: absolute;
   padding: 1.125rem 2.75rem 1.125rem 2.75rem;
   border-top-left-radius: 0.25rem;
   border-bottom-left-radius: 0.25rem;
   margin: 1.6875rem 0rem 0 0;
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: bold;
   z-index: 12;
}

@keyframes speed {
   0%, 20%, 60%, 100% {
      transform: translateX(0);
   transform: translateY(0);
   }

   40% {
      transform: translateX(1.25rem);
      transform: translateX(1.25rem);
   }

   80% {
      transform: translateX(0.625rem);
      transform: translateX(0.625rem);
   }
}

.container-2__box:hover {
   -webkit-transform: scale(1.06);
   -ms-transform: scale(1.06);
   transform: scale(1.06);
}

.container-2__button:hover {
   animation: speed 0.5s;
}

.container-2__button:after {
   display: inline-block;
   border-top: 1.9375rem solid transparent;
   border-left: 0.875rem solid #FF5900;
   border-bottom: 2rem solid transparent;
   height: 0;
   width: 0;
   position: absolute;
   right: -0.8438rem;
   top: 0;
   content: "";
}

@media screen and (max-width: 48rem) {

   .container-2__text {
      padding-top: 1.25rem;
   }

   .container-2__button {
      margin-left: 0.3125rem;
      padding-left: 0;
      padding-right: 0;
   }

   .container-3__img{
      margin-top: 0;
   }

}


@media screen and (max-width: 30rem) {

   .container-2 {
      font-size: 0.75rem;
   }

   .container-2__circle {
      margin-top: -45rem;
   }

   .container-2__hand {
      margin-top: -41.0625rem;
   }

   .container-2 {
      height: 41.5rem;
   }

   .container-2__content {
      height: 40rem;
   }

   .container-2__text {
      font-size: 1rem;
      padding-top: 0rem;
   }

}