.section-7 {
   width: 100%;
   height: 18.5rem;
   background-color: #651FFF;
   font-family: 'Roboto Condensed', sans-serif;
}

.section-7__content {
   max-width: 80rem;
   margin: 0 auto;
   color: white;
}

.section-7__h{
   padding-top: 3.125rem;
   padding-left: 3.4375rem;
}

.section-7__row {
   display: flex;
   margin-top: 4.2rem;
   justify-content: space-around;
   flex-wrap: wrap;
}

.section-7__li{
   display: flex;
   justify-content: space-between;
   width: 16.875rem;
   opacity: 0;
   animation-name: opacity;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.section-7__li--1{
   animation-delay: 0s;
}

.section-7__li--2{
   animation-delay: 1s;
}

.section-7__li--3{
   animation-delay: 2s;
}

.section-7__li--4{
   animation-delay: 3s;
}

@keyframes opacity {
   0% {opacity: 0;}
   100%{opacity: 1;}
}

 .section-7__number {
   color: white;
   font-weight: bold;
   margin-left: 1.5625rem;

   margin-top: 0.5rem;
   position: absolute;
   font-size: 1.5rem;
   width: 2.5rem;
}


.section-7__number::after {
   background: transparent;
   border: 0.57rem solid #ffffff;
   border-radius: 50%;
   height: 2.62rem;
   width: 2.62rem;
   content: "";
   display: block;
   margin-left: -1.5313rem;
   margin-top: -2.8125rem;
}


.section-7__number::before {

   border: 0.18em solid #FDBF0F;
   border-radius: 50%;
   height: 2.5rem;
   width: 2.5rem;
   position: absolute;
   margin-top: 1.25rem;
   margin-left: -1.175rem;
   margin-top: -0.7188rem;
   content: "";
   display: block;
}

 .section-7__text {
    display: flex;
   margin-left: 5rem;
   margin-top: -0.625rem;
   width: 11.875rem;
   height: 3.9375rem;
   align-items: center;
}

 .section-7__arrow{
   position: relative;
   top: 1.3rem;
   width: 3.3125rem;
   height: 0.125rem;
   background-color: #ffffff;
   box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, .2);
   left:0;
   display: block;
   margin-top: 0.125rem;
   margin-left: 0.0625rem;
}
.section-7__arrow::after {
   content: '';
   position: absolute;
   width: 0.625rem;
   height: 0.125rem;
   top: -0.2188rem;
   right: -0.125rem;
   background-color: #ffffff;
   transform: rotate(45deg);
}
.section-7__arrow::before {
   content: '';
   position: absolute;
   width: 0.625rem;
   height: 0.125rem;
   top: 0.2188rem;
   right: -0.125rem;
   background-color: #ffffff;
   box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, .2);
   transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

   .section-7 {
      height: 100%;
   }

   .section-7__h {
      padding-top: 10px;
   }
}


@media screen and (max-width: 480px) {

   .section-7 {
      font-size: 0.75rem;
   }

   .section-7__h {
      font-size: 16px;
   }

   .section-7__li {
      margin-left: 0px;
   }

   .section-7__number {
      margin-left: 10px
   }

   .section-7__row {
      padding-left: 15px;
   }

   .section-7__arrow {
      display: none;
   }

   .section-7__arrow::after {
      display: none;
   }

   .section-7__arrow::before {
      display: none;
   }


}
